tap "homebrew/bundle"
brew "chezmoi"
brew "curl"
brew "git"
brew "mas"
cask "cyberduck"
cask "google-chrome"
cask "google-drive"
cask "keepassxc"
cask "mist"
cask "onedrive"
cask "rancher"
cask "utm"
cask "visual-studio-code"
cask "vivaldi"
cask "xcodes"
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
vscode "EditorConfig.EditorConfig"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vscode-remote.remote-containers"
