# brew bundle dump --vscode --file ~/.config/homebrew/Codefile
vscode "EditorConfig.EditorConfig"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vscode-remote.remote-containers"
vscode "timonwong.shellcheck"
